
body{
    background-color: #222;
    color:#f0f0f0;
    letter-spacing:1px;
    font-weight:100;
}
#container{
    margin: 10px;
    padding: 30px;
    border-radius: 10px;
    background-color: #000;
}
h1 {
  text-align:right;
  padding:0;
  margin:0;
}
hr {
  opacity:0.3;
}
#avstumpfl {
  width:100px;
}
label {
  font-weight:300;
}
.smaller {
  display:block;
  font-size: 0.5em;
  text-transform:uppercase;
  padding-top:4px;
  font-weight:100;
  letter-spacing: 2px;
  clear:both;
}
.logo{
    width: 100%;
    max-width: 400px;
    height: auto;
}
#logo img{
    width: 100%;
    height: auto;
}
#logo .logoprint{
    visibility: hidden;
    width: 0;
}
#drawing{
    position: relative;
    margin-right: 100px;
    overflow: visible;
    clear: both;
    margin: 10px;
}
#topRow .element, #bottomRow .element{
    float: left;
    height: 100%;
}
#leftColumn .element, #rightColumn .element{
    float: left;
    width: 100%;
}
#topRow .part, #bottomRow .part{
    width: 100%;
    height: 10px;
    padding: 1px;
    border: 1px solid #000;
}
#leftColumn .part, #rightColumn .part{
    width: 10px;
    height: 100%;
    padding: 1px;
    border: 1px solid #000;
}

#bottomRow .element{
    margin-top: 95px;
}

.element {
  color:white;
  font-weight: bold;
  font-size: 1em;
}
.part {
}

.topleft{
    width: 105px;
    height: 105px !important;
    background-image:url(../img/corner_TL.png);
    border: 0;
    padding: 0;
}
.topright{
    width: 105px;
    height: 105px !important;
    background-image:url(../img/corner_TR.png);
    border: 0;
    padding: 0;
}
.bottomright{
    width: 105px;
    height: 105px !important;
    background-image:url(../img/corner_BR.png);
    border: 0;
    padding: 0;
    margin: 0 !important;
}
.bottomleft{
    width: 105px;
    height: 105px !important;
    background-image:url(../img/corner_BL.png);
    border: 0;
    padding: 0;
    margin: 0 !important;
    clear: left;
}

.part p{
    text-align: center;
    font-size: 8px;
    line-height: 6px;
}
#leftColumn{
    clear: left;
    width: 10px;
    overflow: hidden;
    position: absolute;
    top: 105px;
}
#rightColumn{
    clear: none;
    width: 10px;
    overflow: hidden;
    float: left;
    position: absolute;
    top: 105px;
}
#bottomRow{
    position: absolute;
}
#leftColumn .part p, #rightColumn .part p{
    transform: rotate(90deg);
}
.visible{
    visibility: visible;
}
.hidden{
    visibility: hidden;
}
.colordot {
	width:14px;
	height:13px;
	margin-top:3px;
	margin-right: 5px;
	border:1px solid rgba(50,50,50,1);
	display:block;
	float:left;
}
.btn{
    background-color: dimgray;
}