a[href]:after {
   content:"" !important;
}
.logo{
    width: 200px;
    height: auto;
}
.topleft, .topright, .bottomleft, .bottomright{
    background-image:url(../img/corner.png) !important;
    -webkit-print-color-adjust: exact;
}
.element{
    -webkit-print-color-adjust: exact;
}
#screendrawing{
    page-break-before: always;
}
#logo .logoweb{
    visibility: hidden;
    width: 0;
}
#logo .logoprint{
    visibility: visible;
    width: 50%;
}
#stumpfllogo{
    visibility: hidden;
}
#save_image{
    visibility: hidden;
}
